/* Week.css */

#CalendarTable td.Ablock{background-color: #ccccff;}
#CalendarTable td.Bblock{background-color: #FACA3A;}
#CalendarTable td.Cblock{background-color: #F1FB39;}
#CalendarTable td.Dblock{background-color: #40F93C;}
#CalendarTable td.Eblock{background-color: #3EDBF7;}
#CalendarTable td.Fblock{background-color: #3C49F9;}
#CalendarTable td.Gblock{background-color: #A43DF8;}
#CalendarTable td.Hblock{background-color: #F43CF9;}

.event{
	width:100%;
}

.container{
  width: auto !important;
}

td{
font-family:"Lucida Console",monospace;
}

#eventDate{
  position: relative;
  top: 3px;
}

.modal-header{
  padding-bottom: 10px;
}

.event{
	margin-bottom:7px;
	text-transform:none; !important
}

#modalDescriptionBox{
  max-height: 200px;
  max-width: 250px;
}
