extends noSidebarLayout

block styles
  link(rel="stylesheet", href="stylesheets/index.css")

block content
  header
    .inner
      .container
        p.headerImage(style="margin-top: 50px;")
          img(src="http://boingboing.net/wp-content/uploads/2011/12/500.jpg");
    p Woah, something went wrong. We're working on it, so please keep trying. 
      a(href="/") click here 
      | to go back home.

