extends layout

block styles
  link(rel="stylesheet", href="stylesheets/index.css")

block scripts
  script(type="text/javascript", src="javascripts/bootstrap-alerts.js")
  script(type="text/javascript", src="javascripts/sha.js")
  script(type="text/javascript", src="javascripts/index.js")

        

block content
  .content.
    <div class="hero-unit">
      <p>
      <img src="images/Hop2.png" width="500px" height="169px" />
      </p>
      <a id="signUp_btn" href="/signup" class="btn primary large">Sign Up</a>
      <a class="btn success large" id="login" href="#">Login</a>
    </div>

    <div class="row">
      <div class="span6">
        <h2>School Event</h2>
        <p>There was an assembly and people died.</p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
      </div>
      <div class="span5">
        <h2>School Event</h2>
         <p>Jason Teplitz Had a Baby</p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
     </div>
      <div class="span5">
        <h2>School Event</h2>
        <p>Massive outbrake of protesters for the game "Skyrim". Protesters say the game is offensive to Dragons.</p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="span6">
        <h2>School Event</h2>
        <p>Facebook is re-banned after an experiment involving monkeys.</p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
      </div>
      <div class="span5">
        <h2>School Event</h2>
         <p>Computer science club gets banned for offensive "forking Action".</p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
     </div>
      <div class="span5">
        <h2>School Event</h2>
        <p>Git dumped after "not being able to commit".</p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
      </div>
