extends layout

block styles
  link(rel="stylesheet", href="stylesheets/index.css")

block scripts
  script(type="text/javascript", src="javascripts/bootstrap-alerts.js")
  script(type="text/javascript", src="javascripts/sha.js")
  script(type="text/javascript", src="javascripts/index.js")
  script(type="text/javascript", src="javascripts/bootstrap-modal.js")

block content
  .content.
    <div class="hero-unit">
      <p class="heroImage">
        <img src="images/hop2.png" width="500px" height="169px" />
      </p>
      <p class="btns">
        <a id="signUp_btn" class="btn primary large">Sign Up</a>
        <a class="btn success large" id="login_btn" >Login</a>
      </p>
    </div>

    <div class="row">
      <div class="span6">
        <h2>School Event</h2>
        <p>There was an assembly and people died.</p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
      </div>
      <div class="span5">
        <h2>Flag Day</h2>
         <p>Every year Hopkins celebrates Flag Day, an opportunity to showcase our school’s ethnic diversity.</p>
        <p><a class="btn" href="http://www.hopkins.edu/podium/default.aspx?t=204&nid=751541">View details &raquo;</a></p>
     </div>
      <div class="span5">
        <h2>School Event</h2>
        <p>Massive outbrake of protesters for the game "Skyrim". Protesters say the game is offensive to Dragons.</p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="span6">
        <h2>School Event</h2>
        <p>Facebook is re-banned after an experiment involving monkeys.</p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
      </div>
      <div class="span5">
        <h2>School Event</h2>
         <p>Computer science club gets banned for offensive "forking Action".</p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
     </div>
      <div class="span5">
        <h2>School Event</h2>
        <p>Git dumped after "not being able to commit".</p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
      </div>
    <!-- Modals -->

    <div id="loginModal" class="modal small hide fade">
      <div class="modal-header">
        <a href="#" class="close">&times;</a>
        <h3>Login</a>
      </div>
      <div class="modal-body">
        <form action="/login" method="POST" id="loginForm" onsubmit="return login(0)" class="form-stacked">
          <div class="clearfix ">
            <label for="email">Email:</label><input class="email_input" type="text" name="email">
          </div>
          <div class="clearfix ">
            <label for="winnerAuth">Password:</label> <input class="password_input" type="password" name="password">
          </div>
         <center><input type="submit" class="success btn" value="Login"></center>
       </form>
      </div>
    </div>

    <div id="accountModal" class="modal small hide fade">
      <div class="modal-header">
        <a href="#" class="close">&times;</a>
        <h3>Create Account</a>
      </div>
      <div class="modal-body">
        <form action="/createAccount" method="POST"  onsubmit="return login(1)" class="form-stacked">
          <div class="clearfix ">
            <label for="email">Email:</label><input class="createEmail_input" type="text" name="email" value="">
          </div>
          <div class="clearfix ">
            <label for="password">Password:</label> <input class="createPassword_input" type="password" name="password">
          </div>
          <div class="clearfix">
            <label for="name">Name:</label> <input name="name" type="text">
         <center><input type="submit" class="success btn" id="createAccount_btn" value="Create"></center>
       </form>
      </div>
    </div>
