!!!
html
  head
    title= title

    // for IE6-8 support of HTML elements
    // if lt IE 9
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
   
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/bootstrap.min.responsive.css")
    script(type="text/javascript", src="/javascripts/jquery.min.js")
    script(type="text/javascript", src="/javascripts/bootstrap.min.js")

    block scripts
      script(type="text/javascript", src="/javascripts/bootstrap-alerts.js")

    link(rel="stylesheet", href="/stylesheets/style.css")
    style
      .brand {margin-left: 20px !important;}
    block styles
      
  body(data-spy="scroll")
    block header
      .navbar.navbar-fixed-top
        .navbar-inner
          .container
            if !loggedIn
              a.brand(href="/") Hopkins Planner
            else
              a.brand(href="/") #{name}'s Planner
            .nav-collapse
              ul.nav
                if loggedIn
                  li
                    a(href="/logout") Logout
    .container-fluid
      .row-fluid
        .span2
          block sidebar
        .span10
          block content
      .push
      block footer
        footer.footer
          p Brought to you bt the Hopkins Computer Science Club.
