!!!
html
  head
    title= title
    link(rel='stylesheet', href='http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css')
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js")
    script(type="text/javascript", src="javascripts/bootstrap-alerts.js")
    block scripts
      
  body
    block content
      
