extends noSidebarLayout 

block styles
  style
    label.control-label{
      width: 220px;
      text-align: center;
    }
      

block content
  h2 Setup
  br
  h3 Your Classes:


  form(action="/setup_blocks", method="POST")
    fieldset
      .row-fluid
        .span3
          .control-group
            label.control-label(for="aBlock") A block: 
            .controls
              input.input-large.block_input(type="Text", name="aBlock")
        .span3
          .control-group
            label.control-label(for="bBlock") B block: 
            .controls
              input.block_input(type="Text", name="bBlock")
        .span3
          .control-group
            label.control-label(for="cBlock") C block: 
            .controls
              input.block_input(type="Text", name="cBlock")
        .span3
          .control-group
            label.control-label(for="dBlock") D block: 
            .controls
              input.block_input(type="Text", name="dBlock")
      .row-fluid
        .span3
          .control-group
            label.control-label(for="eBlock") E block: 
            .controls
              input.block_input(type="Text", name="eBlock")
        .span3
          .control-group
            label.control-label(for="fBlock") F block: 
            .controls
              input.block_input(type="Text", name="fBlock")
        .span3
          .control-group
            label.control-label(for="gBlock") G block: 
            .controls
              input.block_input(type="Text", name="gBlock")
        .span3
          .control-group
            label.control-label(for="hBlock") H block:
            .controls
              input.block_input(type="Text", name="hBlock")
      .form-actions
        button.btn.btn-success(type="submit") Save
