extends layout

block scripts
  <script type="text/javascript" src="javascripts/bootstrap-alerts.js"></script>
  <script src="javascripts/week.js"></script>
  <script src="plugins/jscolor/jscolor.js"></script>

block styles
  <link rel="stylesheet" href="stylesheets/week.css">

block sidebar
  .sidebar
    .well
      h3 Important Events
        p Important events for this week will go here
        p And here
        p And here
        p You get the idea

block content
  .content
    br
    br
    center
      table(id="CalendarTable", class="bordered-table", style="width:100% !important")
        tbody
          style(type="text/css")
            td{height:90px; width:150px}
          tr
            th Monday
            th Tuesday
            th Wednesday
            th Thursday
            th Friday
          each day in week
            tr
            each block in day 
              td(class="#{block}block") #{block} 
