extends layout

block scripts
  <script type="text/javascript" src="javascripts/bootstrap-alerts.js"></script>
  <script src="javascripts/week.js"></script>

block styles
  <link rel="stylesheet" href="stylesheets/week.css">

block content
  .container.
    <div class="topbar">
      <div class="topbar-inner">
        <div class="container-fluid">
          <a class="brand" href="index.jade">Hopkins Planner</a>
          <ul class="nav secondary-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle">Login</a>
              <ul class="dropdown-menu">
                <li>Username: <input id="user" type="text" name="user"></li>
                <li>Password: <input id="pass" type="password" name="pass"></li>
                <li><input type="submit" id="Log In" value="Log In"></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="content">
      <br />
      <br />
      <center><table id="CalendarTable" class="bordered-table" style="width:100% !important"></center>
        <tbody>
          <style type="text/css">
          td{height:90px; width:150px}
          </style>
          <tr>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
          </tr>
        </tbody>
      </table>
    </div>
