extends layout

block scripts
  <script type="text/javascript" src="javascripts/bootstrap-alerts.js"></script>
  <script src="javascripts/week.js"></script>
  <script src="plugins/jscolor/jscolor.js"></script>

block styles
  <link rel="stylesheet" href="stylesheets/week.css">

block content
  .container.
    <input type="hidden" id="colorInput" class="color {styleElement:'colorInput', pickerClosable:true}" value="ffffff" />
    <table id="CalendarTable" class="bordered-table" style="">
      <tbody>
        <style type="text/css">
          th{height:10; width:100}
          td{height:100; width:100}
        </style>
        <tr>
          <th>Monday</th>
          <th>Tuesday</th>
          <th>Wednesday</th>
          <th>Thursday</th>
          <th>Friday</th>
          <th>Weekend</th>
        </tr>
      </tbody>
    </table>
