.content{
  width: 960px;
  margin-left: auto !important;
  margin-right: auto;
}

#loginModal{
  max-height: 300px;
  margin-top: -150px;
}

.headerImage{
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 480px){
  header{
    margin-top: 0;
  }
  .btns .btn{
    display: block;
    font-size: 18px;
  }
  .btns{
    width: auto;
  }
  #signUp_btn{
    margin-left: 0;
    margin-top: 10px;
  }
  .details.btn{
    display: block;
    font-size: 20px;
  }
}

.container.content {
	margin-top: 50px;
}

.well.span12{
  margin-left: 0;
}

h3 {
  font-size: 20px;
}

#picture{
  width: 600;
  height: 400;
}

.center{
  text-align: center;
}

#bgImage{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  height: 100%;
}

.sideBox{
  min-width: 270px;
}

.white{
  color: #FFFFFF;
}

.white h3{
  font-size: 25px;
  line-height: 20px;
}

.white p{
  font-size :18px;
  margin-top: 5px;
  font-weight: bold;
}

#secondParagraph{
  margin-top: 20px;
}

.media .pull-left{
  margin-right: 10px;
}

#login_btn {
  margin-top: -10px;
  margin-left: 5px;
}
