body {
  padding-top: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.form-stacked{
  padding-left: 0px;
}

.sidebar .clearfix label{
  text-align: center;
}

.form-stacked div.clearfix.error{
  padding-left: 5px;
}

.sidebar{
  position: fixed;
}
.sidebar .clearfix input{
  width: 170px;
}

/* FIx for input boxes breaking alignment with clearfix.error */
.form-stacked div.clearfix.error{
  padding-left: 10px;
}

.noBorder{
  border: none !important;
}
