/* Week.css */

/*#CalendarTable td.Ablock{background-color: #ccccff;}
#CalendarTable td.Bblock{background-color: #FACA3A;}
#CalendarTable td.Cblock{background-color: #F1FB39;}
#CalendarTable td.Dblock{background-color: #40F93C;}
#CalendarTable td.Eblock{background-color: #3EDBF7;}
#CalendarTable td.Fblock{background-color: #3C49F9;}
#CalendarTable td.Gblock{background-color: #A43DF8;}
#CalendarTable td.Hblock{background-color: #F43CF9;}*/

.event{
  width:100%;
  margin-bottom:7px;
  text-transform:none !important; /* by default label makes it all caps...we don't necessarily want that */
  font-family: Verdana;
  border-radius: 6px;
  background-color: #242DA6;
  padding-left: 5px;
	cursor:pointer;
}
.event.done{
  opacity: 0.4;
}
.event.test{
  background-color: #A62424;
}
.event.hw{
  background-color: #242DA6;
}
.event.quiz{
  background-color: #731308;
}
.event.project{
  background-color: #4B89DB;
}
.event.reminder{
  background-color: #997777;
}

.container{
  width: auto !important;
}

td{
font-family:"Lucida Console",monospace;
}

#eventDate{
  position: relative;
  top: 3px;
}

.monday,.wednesday,.friday{background-color:#f9f9f9;}

.eventCheck{
  float: right;
  margin-top: 4px !important;
}

.modal-backdrop{opacity:0.15 !important;}