/* Week.css */

/*#CalendarTable td.A.block{background-color: #7b576b;}
#CalendarTable td.B.block{background-color: #ffff73;}
#CalendarTable td.C.block{background-color: #ff6161;}
#CalendarTable td.D.block{background-color: #80ff80;}
#CalendarTable td.E.block{background-color: #8484ff;}
#CalendarTable td.F.block{background-color: #f29365;}
#CalendarTable td.G.block{background-color: #;}
#CalendarTable td.H.block{background-color: #;}*/
/*#CalendarTable td.block{
  opacity: 0.6;
}*/

td.block{
  width: 16%;
  height: 90px;
}

tr th.block{
  text-align: center
}

td.Saturday.block{
  width: 10%;
}
td.Sunday.block{
  width: 10%;
}

.event{
  width:100%;
  margin-bottom:7px;
  text-transform:none !important; /* by default label makes it all caps...we don't necessarily want that */
  font-family: Verdana;
  border-radius: 6px;
  background-color: #242DA6;
  padding-left: 5px;
}
.event.done{
  opacity: 0.4;
  zoom: 1;
  filter: aplha(opactiy = 40);
}
.event.test{
  background-color: #A62424;
}
.event.hw{
  background-color: #242DA6;
}
.event.quiz{
  background-color: #731308;
}
.event.project{
  background-color: #4B89DB;
}
.event.reminder{
  background-color: #997777;
}

.container{
  width: auto !important;
}

td{
font-family:"Lucida Console",monospace;
}

#eventDate{
  position: relative;
  top: 3px;
}

.monday,.wednesday,.friday{background-color:#f9f9f9;}

.eventCheck{
  float: right;
  margin-top: 4px !important;
}

.row-fluid .span2{
  text-align: center;
}

#CalendarTable{
  display: table;
}

#singleDay{
  display: hidden;
}

@media(max-width: 480px){
  #CalendarTable{
    display: hidden;
  }
  #singleDay{
    display: block;
  }
}


div.ui-datepicker {
    font-size: 70% !important;
    z-index: 1;
    position: absolute;
}

div.ui-helper-clearfix::after {
        display: inline;
}
