/* Week.css */

#CalendarTable td.Ablock{background-color: #998E69;}
#CalendarTable td.Bblock{background-color: #F977A5;}
#CalendarTable td.Cblock{background-color: #75F585;}
#CalendarTable td.Dblock{background-color: #FFE37A;}
#CalendarTable td.Eblock{background-color: #A59AF4;}
#CalendarTable td.Fblock{background-color: #65926A;}
#CalendarTable td.Gblock{background-color: #FB90B5;}
#CalendarTable td.Hblock{background-color: #956777;}
.container{
  width: auto !important;
}
td{
font-family:"Times New Roman",Times,serif;
}
