h4 Hey #{name}
p Everything is working great with the emails. I made a couple changes to the code, mostly syntatical and one that was because of how jade works. If you want to see them go to the email branch <a href="https://github.com/jteplitz602/Hopkins-Planner/tree/email">here</a>
