.content.
  <input type="hidden" id="colorInput" class="color {styleElement:'colorInput', pickerClosable:true}" value="ffffff" />
  <br />
  <br />
  <center><table id="CalendarTable" class="bordered-table" style="width:100% !important"></center>
    <tbody>
      <style type="text/css">
      td{height:90px; width:150px}
      </style>
      <tr>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
      </tr>
    </tbody>
  </table>
