block scripts
  <script type="text/javascript" src="javascripts/bootstrap-alerts.js"></script>
  <script src="javascripts/week.js"></script>

block styles
  <link rel="stylesheet" href="stylesheets/week.css">
