/*Week.css */

/*#CalendarTable td.A.block{background-color: #7b576b;}
#CalendarTable td.B.block{background-color: #ffff73;}
#CalendarTable td.C.block{background-color: #ff6161;}
#CalendarTable td.D.block{background-color: #80ff80;}
#CalendarTable td.E.block{background-color: #8484ff;}
#CalendarTable td.F.block{background-color: #f29365;}
#CalendarTable td.G.block{background-color: #;}
#CalendarTable td.H.block{background-color: #;}*/
/*#CalendarTable td.block{
  opacity: 0.6;
}*/

td.block{
  width: 16%;
  height: 90px;
}

td.head{
  font-weight:bold;
}

tr.block{
  width: 16%;
  height: 90px;
}

tr.block1{
  width: 16%;
  height: 90px;
  background-color:#f9f9f9;
}


tr th.block{
  text-align: center
}

td.Saturday.block{
  width: 10%;
}
td.Sunday.block{
  width: 10%;
}

.event{
  width:100%;
  margin-bottom:7px;
  text-transform:none !important; /* by default label makes it all caps...we don't necessarily want that */
  font-family: Verdana;
  border-radius: 6px;
  background-color: #242DA6;
  padding-left: 5px;
  cursor:pointer;
}
.event.done{
  opacity: 0.4;
  zoom: 1;
  filter: aplha(opactiy = 40);
}
.event[data-bootClass=test]{
  background-color: #A62424;
}
.event[data-bootClass=hw]{
  background-color: #242DA6;
}
.event[data-bootClass=quiz]{
  background-color: #731308;
}
.event[data-bootClass=project]{
  background-color: #4B89DB;
}
.event[data-bootClass=reminder]{
  background-color: #997777;
}

.eventText{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
  float: left;
  cursor: pointer;
}

.container{
  width: auto !important;
}

td{
font-family:"Arial Verdana",sans-serif;
}

#eventDate{
  position: relative;
  top: 3px;
}

.monday,.wednesday,.friday{background-color:#f9f9f9;}

.eventCheck{
  /*float: right;*/
  /*margin-top: 4px !important;*/
  width: 20% !important;
}

.row-fluid .span2{
  text-align: center;
}

#CalendarTable{
  display: table;
  table-layout: fixed;
}

#singleDay, #newSingleDay{
  display: none;
}

#singleDay .event, #newSingleDay .event{
	width:95%;
}

#mobileDatepicker{
  display: none;
}

#nextDay, #lastDay{
  display: none;
}

@media screen and (max-width:480px) {
  #CalendarTable{
    display: none;
  }

  #singleDayContainer{
  }
  #singleDay, #newSingleDay{
    display: table;
    width: auto !important;
    min-width: 280px;
  }
  .btn.arrow-right{
    display: none;
  }
  .btn.arrow-left{
    display: none;
  }
  .btn ui-link{
    display: none;
  }
  #eventCreatorModal{
    width: 85% !important;
  }
  #blockSelect{
	width: 75% !important;
  }
  #eventNameInput{
	width: 75% !important;
  }
  #modalDescriptionBox {
	width:90%
  }
  #lastDay{
    display: block;
    width: 14px;
    float: left;
  }
  #nextDay{
    display: block;
    width: 14px;
    float: left;
  }
  #date{
    text-align: center;
    float: left;
    margin: 5px;
  }
  #singleDayContainer td.head{
    width: 100%;
  }
  #singleDayContainer .buttonWrapper{
    margin-left: auto;
    margin-right: auto;
  }


  #datepicker, #datepicker2{
    display: none !important;
  }

  #mobileDatepicker{
    display: block;
    margin-top: 0 !important;
  }

  .container-fluid{
    margin-top: 0;
  }

  #singleDay{
    table-layout: fixed;
    overflow: hidden;
  }

  .block td, .block1 td{
    position: relative;
    height: 90px;
  }
}

#datepicker, #mobileDatepicker{
  text-align: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 224px;
}


.datepicker.dropdown-menu{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.datepicker::before, .datepicker::after{
  content: none !important;
}

#eventType input{
  margin-top: 0 !important;
  color: #ffffff !important;
  margin-right: 5px;
}

#blockSelectorContainer textarea{
  width: 90%;
}

#eventCreatorModal{
  width: 500px;
}

.datepicker.highlightWeek tr.active{
  background-color: #0044cc;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-image: -webkit-linear-gradient(top, rgb(0, 136, 204), rgb(0, 68, 204));
  background-repeat: repeat-x;
}

.datepicker.highlightWeek tr:hover{
  background: #eeeeee; cursor: pointer; 
}

.datepicker.highlightWeek tr.active :first-child, .datepicker tr:hover :first-child{
  -webkit-border-top-radius: 4px !important;
  -moz-border-top-radius: 4px !important;
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}
.datepicker.highlightWeek tr.active :last-child, .datepicker tr:hover :last-child{
  -webkit-border-bottom-radius: 4px !important;
  -moz-border-bottom-radius: 4px !important;
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}

.datepicker.highlightWeek tr.active td, .datepicker .highlightWeek tr:hover td{
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;

}

.datepicker.highlightWeek tr.active:hover{
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(top, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.datepicker.highlightWeek td:hover{
  background: none !important;
}

.datepicker.highlightWeek tr.active td{
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.datepicker td.disabled{
  color: #999999;
}
.datepicker td.disabled:hover{    
  color: #999999; 	
  background: none !important;
  cursor: default;
}

col.active{
  border: 1px solid blue;
}
