div(style="font-family:arial,helvetica,sans-serif;color:#333;font-size:24px;line-height:30px") #{name} has a new suggestion for you.

h1 #{title}
br
div(style="font-family:arial,helvetica,sans-serif;color:#333333;font-size:12px;line-height:18px") #{feedback}
