extends noSidebarLayout

block styles
  link(rel="stylesheet", href="/stylesheets/index.css")

block scripts
  script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js")

block content
  header
    .inner
      .container
        h1 Add a Holiday
        p We need 'em
        
