extends layout

blocks 

block content
  header.largeHeader
    h2 Something went wrong while creating your new account
    p #{flash.error}
   
  a.btn.btn-large.btn-primary(href='/login') Click here to try again
