extends noSidebarLayout 

block styles
  style
    label.control-label{
      width: 220px;
      text-align: center;
    }
    .control-group{
      float: left;
    }

block scripts
  script(type="text/javascript")
    $(document).ready(function(){
    });

block content
  header
    br
    h2 What's on your mind?
    br
  form(action="/suggest", id="suggest-form", method="POST")
    h3
    .row
      .span9
        input.input-block-level#eventNameInput(type="Text", placeholder="Title", name="title")
        textarea.input-block-level#modalDescriptionBox(type="Text", placeholder="Feedback", name="feedback", rows="10")
    
        .form-actions
          button.btn.btn-success(type="submit") Submit
          button.btn(href="/", style="margin-left: 10px;") Cancel


      .span3
        h3 Thanks For Your Input!
        p
          | We're always working to make your planner even better.
